.bottom{
    padding: 10px 20px;
    color: #fff;

    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-humidity{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            & p{
                font-size: 15px;
                font-weight: 700
            }

            & .iconWater{
                font-size: 40px;
            }
            & h1{
                font-size: 25px;
            }
        }
        &-wind{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & p{
                font-size: 15px;
                font-weight: 700
            }

            & h1{
                font-size: 25px;
            }

            & .iconWind{
                font-size: 40px;
            }
        }
    }

}